/* Mengatur lebar scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Mengatur warna latar belakang track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Mengatur warna dan bentuk thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Mengubah warna thumb saat di-hover */
::-webkit-scrollbar-thumb:hover {
  background: #464646;
}

@import "tailwindcss";
